.slide{
    position: relative; /* Fixed position ya z-index ke case mein */
    /* z-index: 999;  */
    margin: 20px;
    border-radius: 20px;
margin-top: 30px;}


@media only screen and (max-width : 769px){

    .slider img{
  height: 450px;
width: auto;
    object-fit: cover;

    }
}


@media only screen and (max-width : 426px){

    .slider img{
  height: 100px;
width: auto;
    object-fit: cover;

    }
}